{% extends 'users/base.html' %}
{% block content %}

<form action="{% url 'list_users' %}" method="POST">
    {% csrf_token %}
    <div class="container" style="text-align: center; font-size: 32px;">
        <h1>Regiser Users</h1>
        <label for="name">Name: </label>
        <input class="form-control-sm" name="name" type="text">

        <label for="age">Age: </label>
        <input class="form-control-sm" name="age" type="text">

        <button class="form-control-sm">Send</button>
    </div>
</form>
{% endblock %}