{% extends 'users/base.html' %}
{% block content %}

<h1 style="text-align: center;">Registered Users</h1>
<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id_user}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}